<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>TurboRemote</string>
	<key>CFBundleDisplayName</key>
	<string>Turbo Remote</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Turbo Remote needs to capture your screen for remote sharing.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Turbo Remote uses the local network for point-to-point screen sharing.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_turboremote._tcp</string>
	</array>
</dict>
</plist>
